body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A67B5B;
    color: #191515;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-image: url(pr.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(51, 13, 94);
    padding: 10px;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.A {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.400)), url('ALL.jpg');
}

.b {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.300)), url('B.jpg');
}

.c {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('cccc.jpg');
}

.r {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('r.jpg');
}

.u {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('4-1.jpg');
    background-repeat: no-repeat;background-size: cover;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: auto;
}
ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #6a0572;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

footer {
    background-color: #120c04;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header {
        font-size: 14px;
        padding: 15px;
    }
    section {
        padding: 15px;
        margin: 10px auto;
        border-radius: 10px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    ul {
        padding: 0 10px;
    }
}
